@charset "UTF-8";
*{
    font-family: fantasy;
    font-size: 20px;
    box-sizing: border-box;
    margin: 0;
}
body{
    margin: 0;
    min-height: 100vh;
}
.header{
    background: black;
    overflow: hidden;
    color: white;
    text-align: center;
    padding: 20px;
    
}
.menu{
    background-color: #333;
    overflow: hidden;
}
.menu a{
    color: white;
    padding: 14px 16px;
    float: right;
    display: block;
    text-decoration: none;
}
.cor a:hover{
    color: black
}

.corpo{
    float: right;
    width: 50%;
    padding: 15px;

}
.footer{
    background: gray;
    overflow: hidden;
    color: white;
    text-align: right;
    padding: 20px;
    position: auto;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer a{
    color: white;
    padding: 10px 12px;
    float: left ;
    display: block;
    
}